*
!scripts
!scripts/*
!lib
!lib/*
!models
!models/*
!report/
!report/*
!Snakefile
!schemas
!schemas/*
!samples.csv
!config.yaml
!sample_template.json
!cluster.json
!envs
!envs/*
!LICENSE
!README.md
!rules
!rules/*
!results
!results/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/*
